doctype html
html
  head
    title WeDevelop Admin
    meta(name="viewport" content="width=device-width, initial-scale=1")
    link(rel='icon' href='/img/favicon.ico' type='image/x-icon')
    link(rel='shortcut icon' href='/img/favicon.ico' type='image/x-icon')
    link(rel='stylesheet' type='text/css' href='/styles/build/admin/admin.min.css')
  body.topBar
    .subNav
      block subNav
    block body
    script(type='text/javascript' src='/js/build/admin.min.js' async)
