extends ./templates/default.jade

block body
  main.mainContainer.page.page--home
    article.sectionBlock.sectionBlock--hero
      if posts
        ul.postList
          each post in posts
            li.postList-item.postList-item--hero
              a(href='/posts/#{post.machine_name}' title= post.title)
                h2.postList-title.u-rule.u-rule--bottom= post.title
              div.postList-blurb !{post.short_summary}
              a.postList-link(href='/posts/#{post.machine_name}' title= post.title) Open interview
