extends ../templates/default.jade

block body
  .nav
    a.nav-item(href='/admin/posts') Posts
    a.nav-item(href='/admin/persons') Persons
    a.nav-item(href='/admin/persons/new') Add Person
  .mainContainer
    h2 All People
    each person in persons
      h4
        a(href='/admin/persons/#{person._id}')= person.name
