extends ../templates/default.jade

block body
  .nav
    a.nav-item(href='/admin/posts') Posts
    a.nav-item(href='/admin/persons') Persons
    a.nav-item(href='/admin/persons/new') Add Person
  .mainContainer
    h2 All People
    if persons.length
      each person in persons
        p.list-item
          a(href='/admin/persons/#{person._id}')= person.name
    else
      p No people yet
