.footer {
  width: var(--width-nav--max);
  margin: var(--gutter-medium) auto 0;
  padding: var(--gutter-medium) 0;
  border-top: 1px solid var(--color-gray--light);
  color: var(--color-text--light);
  font: 300 var(--fontSize-small) var(--font-sans);
  text-align: center;
}

.footer p {
  margin: 0;
  padding: 0;
  font: inherit;
}

.footer a {
  color: var(--color-primary);
  transition: color var(--transitionSpeed-medium);

  &:hover {
    color: var(--color-primary--dark);
  }
}
