.nav {
  width: calc(var(--width-nav--max) - var(--gutter-medium));
  margin: 0 auto;
  padding: var(--gutter-small) var(--gutter-medium);
}

.nav-logo {
  margin: 0;
  font-size: 1.6rem;
  font-weight: 400;
  color: var(--color-text);
  opacity: 0;
  animation: fadeIn 250ms forwards;
}

.subNav {
  width: calc(var(--width-nav--max) - var(--gutter-medium));
  margin: var(--gutter-small) auto 0;
  padding: 0 var(--gutter-medium);
  font: var(--fontSize-small) var(--font-sans);
}
