doctype html
html
  head
    title WeDevelop
    meta(name="viewport" content="width=device-width, initial-scale=1")
    link(rel='stylesheet' type='text/css' href='/posts/styles/build/blog.css')
  body.top-bar
    .nav
      h2.nav-logo WeDevelop
    block body
