doctype html
html
  head
    title WeDevelop
    meta(name="viewport" content="width=device-width, initial-scale=1")
    link(rel='icon' href='/img/favicon.ico' type='image/x-icon')
    link(rel='shortcut icon' href='/img/favicon.ico' type='image/x-icon')
    link(rel='stylesheet' type='text/css' href='/styles/build/blog/blog.min.css')
  body.topBar
    .subNav
      block subNav
    .nav
      a.nav-logo(href='/posts' title='WeDevelop posts')
        img(src='/img/we-develop-logo.png' title='WeDevelop')
    block body
    footer.footer
      p Made with love by
        a(href='http://twitter.com/derekduncan96')  @derekduncan96
    script(type='text/javascript' src='/js/build/main.min.js' async)
