extends ../templates/default.jade

block body
  .nav
    a.nav-item(href='/admin/posts') Posts
    a.nav-item(href='/admin/persons') Persons
    a.nav-item(href='/admin/posts/new') Add Post
  .mainContainer
    h2 All posts
    if posts.length
      each post in posts
        h4
          a(href='/admin/posts/#{post.machine_name}')= post.title
    else
      p No posts yet
