.nav {
  max-width: var(--maxNavWidth);
  margin: 0 auto;
  padding: 2rem 0;
}

.nav-logo {
  margin: 0;
  font-size: 1.6rem;
  font-weight: 400;
  color: var(--textColor);
  opacity: 0;
  animation: fadeIn 250ms forwards;
}
