@import 'normalize.css';

:root {
  /* Colors */
  --primaryColor: #a5eee1;
  --textColor: #333;

  /* Fonts */
  --sansFont: 'Khula', sans-serif;
  --serifFont: 'Lora', serif;
}

html {
  font-size: 62.5%;
}

body {
  background-color: #fefefe;
  font: 1.6rem var(--serifFont);
  color: var(--textColor);
}
